<div class="container">
  <h3>Employee Forms</h3>
  <!--"novalidate" means we have switched off browser validation as 
      the validation messages are different in different browsers-->
  <form #form="ngForm" novalidate>
      <!-- "#form="ngForm"" => template referrence variable -->
    <!--"required" specify it is a mandatory field -->
    <div class="form-group">
      <label>First name</label>
      <!-- "form-control" takes up the full length of the view ccontrol-->
      <!--  [(ngModel)]="model.firstName" indicates the two way data binding-->
      <!-- "Banana in a box" syntax cannot be used to call a function -->
      <input #firstName ="ngModel" class="form-control" type="text" placeholder="First name" required 
        name ="firstName" [(ngModel)]="model.firstName">

        <!-- Adding field validation -->
        <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
          First name required
        </div>
    </div>

    <div class="form-group">
      <label>Last name</label>
      <!-- "form-control" takes up the full length of the view ccontrol-->
      <!-- "firstNameToUpperCase()" in the model will convert the first letter to uppercase -->
      <input class="form-control" placeholder="Last name" type="text" required 
        name ="lastName"  [ngModel]="model.lastName"
        (ngModelChange)="firstNameToUpperCase($event)">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="is-full-time" [(ngModel)]="model.isFulltime">Full time employee
      </label>
    </div>
    <label>Payment type</label>
    <div class="radio">
      <label>
        <!--"checcked" means the default value of the group-->
        <!--"name" indicates the radio button group-->
        <input type="radio" name="pay-type" value="w2" checked [(ngModel)]="model.paymentType">
        w2
      </label>
    </div>
    <div class="radio">
        <label>
          <!--"checcked" means the default value of the group-->
          <!--"name" indicates the radio button group-->
          <input type="radio" name="pay-type" value="1099" [(ngModel)]="model.paymentType">
          1099
        </label>
    </div>

    <!-- Validating combo box-->
    <div class ="form-group" [class.has-error]="hasPrimaryLanguageError">
      <label>Primary Language </label>
      <select class="form-control" name="primaryLaguages" 
        (blur)="validatePrimaryLanguage($event)"
        [(ngModel)]="model.primaryLanguage">
        <option value="default">Select a language...</option>
        <option *ngFor="let lang of languages">
          {{lang}}
        </option>
      </select>
    </div>
    <div class="date">
      <label>Date hired</label>
      <input type="date" name="date" class="form-control" ngModel>
    </div>

    <br>
    <button class="btn btn-primary" type="submit">Ok</button>
    <br>
  </form>

  <br>
  {{form.pristine}}

  <br>
  Model: {{model | json}}
</div>